version: 2.1

orbs:
  browser-tools: circleci/browser-tools@1.4.8

jobs:
  ui_tests:
    docker:
      - image: cimg/node:18.17.1
    working_directory: ~/project/QA-automation-Task
    steps:
      - checkout
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - run:
          name: Verify Chrome Installation
          command: google-chrome --version
      - run:
          name: Verify ChromeDriver Installation
          command: chromedriver --version
      - run:
          name: List root directory files
          command: ls -l
      - run:
          name: List files in QA-automation-Task
          command: ls -l QA-automation-Task
      - run:
          name: Install Dependencies
          command: |
            cd QA-automation-Task
            npm install
      - run:
          name: Fix permissions
          command: |
            cd QA-automation-Task
            chmod -R 755 node_modules/.bin
      - run:
          name: Run Nightwatch Tests
          command: |
            cd QA-automation-Task
            npm run test || true

  api_tests:
    docker:
      - image: cimg/node:18.17.1
    working_directory: ~/project/supertest-jest-api
    steps:
      - checkout
      - run:
          name: Install mock-user-auth package
          command: npm install --save mock-user-auth
      - run:
          name: Install Dependencies
          command: npm install
      - run:
          name: Start API Server
          command: |
            npm run dev &
            sleep 10  # Give the server some time to start
      - run:
          name: Run API Tests
          command: npx jest --detectOpenHandles || true

workflows:
  version: 2
  pipeline:
    jobs:
      - ui_tests
      - api_tests:
          requires:
            - ui_tests
